.chessTable {
    margin: 50px auto;
    width: 610px;
    height: 610px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: black;
}

.cell {
    width: 60px;
    height: 60px;
    float: left;
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    border-width:  0 1px 1px 0;
    border-style: solid;
    border-color: black;
 }

.cellBlack {
    background : black;
 }

.cellGray {
    background: #dbdbdb;
}